@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(85, 85, 85);
    height: 100vh;
    width: 100vw;
}

header {
    background-color: darkgray;
    color: white;
    padding: 10px;
    text-align: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    border: 1px dotted black;
    margin: 5px;
    padding: 5px;

}

header > nav {
    border: 1px dotted black;
    margin: 5px;
    padding: 3px;
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    text-align: center;
}

